{% extends 'tasks/base.html' %}

{% block body %}
<h1>Choose Tasks</h1>
<form action="{% url 'tasks:delete' %}" method="post">
    {% csrf_token %}

    {% for index, task in tasks %}
    <div>
        <input type="checkbox" name="tasks" value="{{ index }}"> {{ task }}
    </div>
    {% empty %}
    <div>No Tasks to Delete!</div>
    {% endfor %}
    <br>
    {% if tasks %}
    <p><input type="submit" value="Delete Task(s)"></p>
    {% endif %}
</form>
<a href="{% url 'tasks:index' %}">Back to Tasks</a>
{% endblock %}
